{% extends 'base.html' %}
{% load tailwind_filters %}

{% block content %}

<div class="text-white p-4 bg-blue-950 mt-14 rounded-lg form">
    <p class="font-bold text-3xl text-white mb-8">User Registration</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="student_signup" class="bg-gray-900 hover:bg-green-400 text-white font-bold py-2 px-4 rounded mx-4 mt-4">Sign Up as Student</button>
        <button type="submit" name="teacher_signup" class="bg-gray-900 hover:bg-green-400 text-white font-bold py-2 px-4 rounded mx-4">Sign Up as Teacher</button>
    </form>
</div>

{% endblock %}