{% extends 'base.html' %}


{% block content %}
<style>
    .schedule-items {
        max-width: 120px; /* Максимальна ширина для заголовка */
        white-space: nowrap; /* Текст не буде переноситись на новий рядок */
        overflow: hidden; /* Приховати текст, який не вміщається */
        text-overflow: ellipsis; /* Додати три крапки в кінці, якщо текст не вміщається */
    }
</style>
<!-- component -->
<div class="container mx-auto mt-14">
    <div class="wrapper bg-white rounded shadow mx-auto" style="width: 90%;">
        <div class="header flex justify-between border-b p-2">
            <span class="text-lg font-bold">
                2024 June
            </span>
        </div>
        <table class="w-full">
            <thead>
                <tr>
                    <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
                        <span class="xl:block lg:block md:block sm:block hidden">Monday</span>
                        <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Mon</span>
                    </th>
                    <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
                        <span class="xl:block lg:block md:block sm:block hidden">Tuesday</span>
                        <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Tue</span>
                    </th>
                    <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
                        <span class="xl:block lg:block md:block sm:block hidden">Wednesday</span>
                        <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Wed</span>
                    </th>
                    <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
                        <span class="xl:block lg:block md:block sm:block hidden">Thursday</span>
                        <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Thu</span>
                    </th>
                    <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
                        <span class="xl:block lg:block md:block sm:block hidden">Friday</span>
                        <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Fri</span>
                    </th>
                    <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
                        <span class="xl:block lg:block md:block sm:block hidden">Saturday</span>
                        <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Sat</span>
                    </th>
                    <th class="p-2 border-r h-10 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 xl:text-sm text-xs">
                        <span class="xl:block lg:block md:block sm:block hidden">Sunday</span>
                        <span class="xl:hidden lg:hidden md:hidden sm:hidden block">Sun</span>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="grid grid-cols-7 gap-2 text-white m-2 h-max">
            {% for item in scheduleList %}
                {% if item.day != 0 %}
                    {% if item.schedules %}
                        <div class="bg-slate-800 rounded-lg h-20 flex flex-col justify-start" style="background-color: #1e293b; padding-left: 0.75rem">
                            <div>
                                {% for schedule in item.schedules %}
                                    <p style="padding-top: 0.4rem;">{{ schedule.datetime|date:"d M" }}</p>
                                    <p class="text-xl">{{ schedule.title }}</p>
                                    <a href="{{ schedule.url }}" class="text-xs hover:bg-green-400"> <p class="schedule-items">{{ schedule.url }}</p> </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="bg-blue-950 rounded-lg h-20 flex justify-center items-center"> <h1 class="text-2xl font-bold"> {{ item.day }} </h1> </div>
                    {% endif %}
                {% else %}
                    <div class="bg-gray-600 rounded-lg h-20 flex justify-center items-center"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}