{% extends "base.html" %}

{% block content %}
<style>
    .chose-file input {
        border: 1px solid rgb(255, 255, 255);
        border-radius: 5px;
        color: aliceblue;
        width: 40%;
    }

    .chose-file {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
</style>


<div class="p-3 bg-blue-950 mt-14 rounded-lg flex flex-row justify-between">
    <h1 class="text-2xl text-white">{{ subject.title }}</h1>
</div>

<div class="mt-4 w-full text-white flex flex-row">
    <div class="w-96">
        <div class="bg-blue-950 p-3 rounded-lg">
            <p class="text-xl">{{ subject.summary }}</p>

        </div>
        <div class="bg-blue-950 p-3 rounded-lg mt-4">
            <p class="text-xl">Course link</p>
            <button onclick="click()" class="flex flex-row rounded-lg p-3 bg-green-400 mt-4 justify-between hover:bg-green-300">
                <p id="url">tribe/course/qwer</p>
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="#111827"
                        d="M384 336H192c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16l140.1 0L400 115.9V320c0 8.8-7.2 16-16 16zM192 384H384c35.3 0 64-28.7 64-64V115.9c0-12.7-5.1-24.9-14.1-33.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1H192c-35.3 0-64 28.7-64 64V320c0 35.3 28.7 64 64 64zM64 128c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H256c35.3 0 64-28.7 64-64V416H272v32c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V192c0-8.8 7.2-16 16-16H96V128H64z" />
                </svg>
            </button>
        </div>
    </div>

    <div class="w-full ml-4">
        <div class="rounded-lg bg-blue-950 p-3">
            Tasks
        </div>
    </div>
</div>

<div class="bg-blue-950 mt-14 rounded-lg w-max">
    <h2 class="font-bold text-3xl mb-3 ml-3 text-white self-center">Add Material</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="">
            {{ material_form.title }}
        </div>

        <div class="ms-3 me-3">
            {{ material_form.media }}
            {{ material_form.description }}
        </div>

        <div class="chose-file">
            {{ file_formset.management_form }}
            {% for form_file in file_formset %}
                {{ form_file.file }}
            {% endfor %}
            <button type="submit" class="bg-gray-900 hover:bg-green-400 text-white font-bold py-2 px-4 rounded mx-4 mt-4 ">Upload</button>
        </div>
    </form>
</div>


    <!-- <h2>Materials</h2>  
    <ul>
        {% for material in subject.materials.all %}
            <li>
                <strong>{{ material.title }}</strong> - {{ material.description }}
                <ul>
                    {% for file in material.files.all %}
                        <li><a href="{{ file.file.url }}">{{ file.file.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul> -->
</div>



<script>
function click() {
  var copyURL = document.getElementById("url");

  copyURL.select();
  copyURL.setSelectionRange(0, 99999);
}
</script>

{% endblock %}